body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-photo/painted-wooden-plank-textured-backdrop_53876-128511.jpg?w=2000&t=st=1695078728~exp=1695079328~hmac=e4d5f47b5b426ffbacc0f4fa5c3ee0f515a7678845272a2c627b456e5e2c449b");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #0e8e47;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold; 
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}